<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nathan Albrecht - Interactive Experience Designer</title>

    <link rel="stylesheet" href="/assets/theme/styles.css">

    <link rel="preload" href="https://nathanalbrecht.com/assets/theme/fonts/asap/asap-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://nathanalbrecht.com/assets/theme/fonts/domine/domine.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://workers.nathanalbrecht.com/currently-playing" as="fetch" type="application/json" crossorigin>

    <script src="/assets/now-playing-api.js" defer></script>
    <script src="/assets/now-playing-ui.js" defer></script>

    <link rel="icon" href="/assets/theme/images/favicon/cropped-icon-32x32.png" sizes="32x32">
    <link rel="icon" href="/assets/theme/images/favicon/cropped-icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/assets/theme/images/favicon/cropped-icon-180x180.png">
    <meta name="msapplication-TileImage" content="/assets/theme/images/favicon/cropped-icon-270x270.png">

    <meta name="description" content="The design portfolio and writings of Nathan Albrecht, an interactive experience designer passionate about the intersection of design and technology.">
    <meta property="og:title" content="Nathan Albrecht - Interactive Experience Designer"/>
    <meta property="og:image" content="{{site.url}}/assets/opengraph-images/Nathan-Albrecht-OpenGraph-Image.png"/>
    <meta property="og:description" content="The design portfolio and writings of Nathan Albrecht, an interactive experience designer passionate about the intersection of design and technology."/>
    <meta property="og:url" content="{{site.url}}"/>
</head>

<body>
    <main>
        <img src="/assets/theme/images/logo.svg" width="150.8674" height="75" alt="Logo: Nathan Albrecht - Interactive Exerience Designer">
        <p class="lede">Hi! I’m Nathan Albrecht, an interactive experience designer who is passionate about the intersection of design and technology.</p>
        <section>
            <p>I’m currently working as a Frontend Engineer at Creative Market developing <a href="https://www.fontspring.com">Fontspring</a> to be the best platform to browse, purchase, and manage fonts.</p>
            <hr>
            <ul>
                <li>View my design work on <a href="https://www.behance.net/albrechtnate">Behance</a> or <a href="https://dribbble.com/albrechtnate">Dribbble</a>.</li>
                <li>Browse my work history on <a href="https://www.linkedin.com/in/nathan-albrecht/">LinkedIn</a> or my <a href="/uploads/resume.pdf">résumé</a>.</li>
                <li>Read some of my <a href="/thoughts">thoughts and writings</a>. (WIP)</li>
                <li>Connect with me on <a href="https://twitter.com/albrechtnate">Twitter</a> or via <a href="mailto:nathanielalbrecht@gmail.com">Email</a>.</li>
            </ul>
        </section>
        <hr>
        <ul class="icon-list">
            <li><span>📚</span><a href="https://www.goodreads.com/user/show/140294158-nathan-albrecht">Currently Reading <i>Living Forward</i></a></li>
            <li><span>🎵</span><a href="https://www.last.fm/user/albrechtnate"><span id="now-playing">Music I’m listening to.</span></a></li>
        </ul>
    </main>
</body>

</html>
