<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Nathan Albrecht - Interactive Experience Designer</title>
    <meta name="description" content="The design portfolio and writings of Nathan Albrecht, an interactive experience designer passionate about the intersection of design and technology.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Nathan Albrecht - Interactive Experience Designer"/>
    <meta property="og:image" content="{{site.url}}/assets/opengraph-images/Nathan-Albrecht-OpenGraph-Image.png"/>
    <meta property="og:description" content="The design portfolio and writings of Nathan Albrecht, an interactive experience designer passionate about the intersection of design and technology."/>
    <meta property="og:url "content="{{site.url}}" />
    <link rel="stylesheet" href="/assets/theme/styles.css">
    <link rel="icon" href="/assets/theme/images/favicon/cropped-icon-32x32.png" sizes="32x32">
    <link rel="icon" href="/assets/theme/images/favicon/cropped-icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/assets/theme/images/favicon/cropped-icon-180x180.png">
    <meta name="msapplication-TileImage" content="/assets/theme/images/favicon/cropped-icon-270x270.png">
</head>

<body>
	<span id="now-playing"></span>
	<main>
		<img src="/assets/theme/images/logo.svg" width="150.8674" height="75px" alt="Logo: Nathan Albrecht - Interactive Exerience Designer">
		<p class="lede">Hi! I’m Nathan Albrecht, an interactive experience designer who is passionate about the intersection of design and technology.</p>
		<section>
			<p>I currently work at <a href="https://www.fontspring.com">Fontspring</a> designing and developing the best platform to browse, purchase, and manage fonts.</p>
			<!--<p>In my spare time I teach undergraduate interactive design courses as an adjunct instructor at <a href="https://www.cedarville.edu">Cedarville University</a>.</p>-->
			<hr>
			<ul>
				<li>View my design work on <a href="https://www.behance.net/albrechtnate">Behance</a> or <a href="https://dribbble.com/albrechtnate">Dribbble</a>.</li>
				<li>Browse my work history on <a href="https://www.linkedin.com/in/nathan-albrecht/">LinkedIn</a> or my <a href="/uploads/resume.pdf">résumé</a>.</li>
				<li>Read some of my <a href="/thoughts">thoughts and writings</a>. (WIP)</li>
				<li>Connect with me on <a href="https://twitter.com/albrechtnate">Twitter</a> or via <a href="mailto:nathanielalbrecht@gmail.com">Email</a>.</li>
			</ul>
			<hr>
			<ul>
				<li>Currently Reading: <a href="https://www.goodreads.com/user/show/140294158-nathan-albrecht">Eat that Frog!</a></li>
				<li>Check out what I’m <a href="/listening-to">currently listening to</a>.</li>
			</ul>
		</section>
	</main>

	<script src="/assets/now-playing-api.js"></script>
	<script src="/assets/now-playing-ui.js"></script>
</body>

</html>